body {
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
}

nav ul {
  display: flex;
  margin-left: 45px;
}

nav ul li {
  list-style: none;
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 17px;
}

.main-section {
  display: flex;
  margin-bottom: 80px;
}

.special-line {
  color: darksalmon;
}

.box-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.box-content h1 {
  font-size: 50px;
  line-height: 20px;
  color: #333333;
}

.box-content h2 {
  font-size: 30px;
  color: #333333;
}

.box-content p {
  color: gray;
  padding-bottom: 20px;
}

.box-content a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #f5af19, #f12711);
  padding: 10px 20px;
  border-radius: 50px;
}

.box-content {
  width: 50%;
}

.box {
  margin-left: 80px;
  padding: 20px;
}

#big-image {
  width: 40%;
}

.second-part {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.second-part .box-content {
  margin-top: 80px;
}

.my-recipies {
  text-align: center;
}

.my-recipies p {
  padding: 0px 310px;
  color: gray;
}

.my-recipies h1 {
  font-size: 35px;
  color: #333333;
}

.card-section {
  padding: 0px 80px;
}

.card,
.photo img {
  width: 100%;
}

.card {
  border-radius: 23px;
  min-height: 400px;
  margin: 0px 18px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card h2,
.my-recipies h1 {
  color: #333333;
}

.card p,
.social p {
  color: gray;
}

.social-info {
  display: flex;
  text-align: center;
  margin: 0px 100px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}

.social {
  margin: auto;
}

.social h1 {
  font-size: 40px;
  line-height: 0px;
  color: #333333;
  font-weight: bold;
}

footer {
  background-color: #333333;
  margin-top: 80px;
  color: white;
  text-align: center;
  padding: 50px;
}

.developer {
  text-decoration: none;
  font-family: "Pacifico", cursive;
  color: crimson;
}
